:root {
  --primary-color: #feefad;
  --secondary-color: #fdde55;
  --text-color: #38b0c5;
  --text-color-2: #03aed2;
}

.hero-container {
  height: 60vh;
  display: grid;
  background-image: url("../src/assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  place-content: center;
}
.hero-titles {
  padding: 2rem;
  text-align: center;
  place-content: center;
}
@media screen and (max-width: 25em) {
  .hero-container {
    width: auto;
    height: 50vh;
  }
  .hero-titles {
    position: inherit;
    place-content: center;
  }
}
@media screen and (max-width: 18.75em) {
  .hero-container {
    width: auto;
    position: initial;
  }
}
.hero-title {
  font-size: 6rem;
  font-weight: 700;
  color: var(--text-color-2);
  padding-bottom: 1.5rem;
}
.hero-subtitle {
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-color-2);
  font-style: italic;
}
.hero-btn {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 20px;
  background-color: crimson;
  border-color: #feefad;
}
.whyus-container {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  padding: 2rem;
  background-color: #03b0d2ea;
  overflow-x: hidden;
}
.about-container h1 {
  color: rgba(255, 255, 0, 0.788);
  padding-bottom: 0.5rem;
  text-align: center;
  text-decoration: underline;
}
.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  gap: 2rem;
}
@media screen and (max-width: 62.5em) {
  .about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (max-width: 37.5em) {
    .about-wrapper {
      width: 100%;
      height: auto;
    }
  }
}
.about-video iframe {
  border: 2px solid #fdde55b6;
  border-radius: 15px;
}
.about-text {
  color: rgba(255, 255, 0, 0.836);
  font-weight: 500;
}
.about-title {
  font-size: 3rem;
}
.about-subtitle {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  padding: 2rem;
  padding-bottom: 0.5rem;
}
.about-para {
  font-size: 2rem;
  padding: 2rem;
}
