:root {
  --primary-color: #feefad;
  --secondary-color: #fdde55;
  --text-color: #38b0c5;
  --text-color-2: #03aed2;
}
body {
  background-color: #38b0c5;
  width: 100%;
}
.hero-container {
  height: 60vh;
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("../../assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  place-content: center;
}
.hero-titles {
  padding: 2rem;
  text-align: center;
  place-content: center;
}
@media screen and (max-width: 25em) {
  .hero-container {
    width: auto;
    height: 50vh;
  }
  .hero-titles {
    position: inherit;
    place-content: center;
  }
}
@media screen and (max-width: 18.75em) {
  .hero-container {
    width: auto;
    position: initial;
  }
}
.hero-title {
  font-size: 6rem;
  font-weight: 700;
  color: var(--text-color-2);
  padding-bottom: 1.5rem;
}
.hero-subtitle {
  font-size: 3rem;
  font-weight: 400;
  color: var(--text-color-2);
  font-style: italic;
}
.hero-btn {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 20px;
  background-color: crimson;
  border-color: #feefad;
}
.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #fdde55;
}
.why-us-section {
  margin: 2rem auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  transform: translateY(-65px);
  gap: 2rem;
}
@media screen and (max-width: 62.5em) {
  .why-us-section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 25em) {
  .why-us-section {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
  }
  .why {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.why:hover {
  cursor: pointer;
  box-shadow: 13px 10px 23px -3px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 13px 10px 23px -3px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 13px 10px 23px -3px rgba(0, 0, 0, 0.78);
}
.why-icons {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: whitesmoke;
  display: grid;
  place-content: center;
}
.why-icons svg {
  width: 4rem;
  height: 4rem;
  fill: crimson;
}
.why h2 {
  margin: 2rem 0;
  text-transform: capitalize;
  color: blue;
}

.why p {
  text-align: center;
  line-height: 1.8;
  color: blue;
}

.about-container {
  padding: 2rem;
  background-color: #03b0d2ea;
  overflow-x: hidden;
  padding-top: 0;
}
.about-container h1 {
  color: var(--secondary-color);
  padding-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
  font-size: 4rem;
  font-style: italic;
}
.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  gap: 2rem;
}
@media screen and (max-width: 62.5em) {
  .about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (max-width: 37.5em) {
    .about-wrapper {
      width: 100%;
      height: auto;
    }
  }
}
.about-video iframe {
  border: 2px solid #fdde55b6;
  border-radius: 15px;
}
.about-text {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 3rem;
}
.about-title {
  font: inherit;
}
.about-subtitle {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1rem;
}
.about-para {
  font-size: 2rem;
  padding: 2rem;
}
.about-btn {
  padding: 1rem;
  background-color: crimson;
  color: white;
  font-weight: 700;
  border-radius: 15px;
}
.destination-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  background-color: var(--secondary-color);
  padding-bottom: 1rem;
  border-radius: 10px;
}
.destination-container {
  margin: 2rem auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 62.5em) {
  .destination-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}
@media screen and (max-width: 25em) {
  .destination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}
.dest-title {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  background-color: #fdde55;
  color: #ffffff;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
}

.destination-img {
  display: block;
  width: 100%;
  height: 25rem;
  background-position: center;
  background-size: cover;
}
.destination-wrapper p {
  font-size: 1.5rem;
}
.description {
  text-align: center;
}
.description-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}
.price {
  text-align: left;
  font-weight: 700;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.5rem;
}
.description-cta {
  color: white;
  font-weight: 700;
  padding: 1rem;
  border-radius: 15px;
  background-color: crimson;
  cursor: pointer;
}
.testimonial-header {
  text-decoration: underline;
  text-align: center;
  color: white;
  font-style: italic;
  background-color: #38b0c5;
  padding: 1rem;
  background-color: var(--secondary-color);
}
.testimonial-container {
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonial-wrapper {
  background-color: #fdde55;
  height: auto;
  width: 20rem;
  border: 2px solid black;
  border-radius: 10px;
}
.rating {
  padding: 0.5rem;
  text-align: center;
}
.message {
  border: 2px solid black;
  text-align: center;
  margin: 1rem;
  background-color: #e4d387ea;
  border-radius: 10px;
}
.person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.person-img {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  background-image: url(../../assets/andrew.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
legend {
  font-size: 2rem;
  color: var(--secondary-color-);
}
.signup {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;
}
.signup-title {
  text-align: center;
  background-color: #fdde55;
  color: #ffffff;
}
.label-txt {
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
}
.signup-input {
  margin-bottom: 5vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: transparent;
  outline: none;
  color: white;
  caret-color: white;
}
.signup-input ::placeholder {
  color: #fdde55;
  font-size: 1.5rem;
}
.submit {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: crimson;
  border-radius: 15px;
  border-color: none;
  cursor: pointer;
}
