:root {
  --primary-color: #feefad;
  --secondary-color: #fdde55;
  --text-color: #38b0c5;
  --text-color-2: #03aed2;
}
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  color: var(--text-color-2);
  padding-right: 4rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: auto auto auto;
  gap: 1rem;
  padding: 1.5rem;
}
@media screen and (max-width: 62.5em) {
  .footer-container {
    position: relative;
  }
}
@media screen and (max-width: 43.75em) {
  .footer-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    gap: 2rem;
  }
}
.footer-logo {
  width: 7rem;
  height: 5rem;
  background-image: url("../../assets/git-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-description {
  font-size: 2rem;
  font-style: italic;
}
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-sitemap {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  gap: 1rem;
  color: #ffffff;
}
.footer-links {
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}
.footer-contact-us {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  gap: 1rem;
}
.footer-contact-us svg {
  width: 2rem;
  height: 2rem;
  color: aliceblue;
}
.footer-end {
  text-align: center;
  font-style: italic;
  background-color: #fdde55;
}
@media screen and (max-width: 25em) {
  .footer-end {
    position: relative;
  }
}
